setagaya-bin
setagaya/setagaya
setagaya/db/all.sql
setagaya/config/gcp
docs/book
setagaya/setagaya-gcp.json
setagaya/build
setagaya/config.json
.DS_Store
debug.yaml
*.tar

# Node.js dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
nohup.out

cookies.txt
