setagaya-bin
setagaya/db/all.sql
setagaya/config/gcp
docs/book
setagaya/setagaya-gcp.json
setagaya/build
setagaya/config.json
.DS_Store
debug.yaml

# Binaries and executables
*.exe
**/ingress-controller
**/*-controller
**/setagaya
*/setagaya-*
local_storage/v0
ingress-controller/ingress-controller
bin/golangci-lint

# Go build artifacts
*/coverage.out
*/coverage.html
**/go.sum~
**/go.mod~

# Temporary files
*.tmp
*.temp
